Library/*
Temp/*
Temp/bin/*
*.info
*.resource
*.userprefs
*.bakert
*.dll
Assets/Textures/Thumbs.db
ProjectSettings/ProjectVersion.txt
Assets/Textures/Thumbs.db.meta
ProjectSettings/ProjectVersion.txt
Assembly-CSharp-Editor.csproj